<% include partials/header %>
<h1>This is the home page!</h1>

<img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FYX740Ogc8a0%2Fmaxresdefault.jpg&f=1">
<% include partials/footer %>