<html>
    <head>
        <title>Scientific Discoveries</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Scientific Discoveries</div>
                <a href="/" class="item">Home</a>
                <a href="/discoveries/new" class="item">New Discovery</a>
            </div>
        </div>